
html {
    scroll-behavior: smooth;
}

body{
    background-color:#131313;
    margin:0;
    padding:0;
}

.header {
    text-align: center;
    margin-top:2rem;
    margin-bottom: 2rem;
    font-size:3rem;
    color:#f5f5f5;
    font-family: 'EB Garamond', serif;
}

.paragraph {
    margin-right: 2rem;
    margin-left:2rem;
    font-size:2rem;
    color:hsla(0, 0%, 100%, 0.719);
    font-family: 'EB Garamond', serif;
}

.back-to-top {
    position: fixed;
    bottom:2rem;
    right:2rem;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#333333;
    border-radius:2rem;
    padding:0.5rem;
    text-decoration: none;
    transition:0.2s ease-out;
    
}

.back-to-top span{
    color:#f5f5f5 ;
    font-size:2rem;
    transition: 0.2s ease-out;
}

.back-to-top:hover {
background-color:#333333;
}

.back-to-top:hover span {
    transform: translateY(-4px)
}

.slider {
height: 400px;
width: 800px;
background: url(pontos1.png);
margin:100px auto;
animation:slide 20s infinite;
}

@keyframes slide {
25%{
    background: url(pontos1.png);
}


50%{
    background: url(pontos2.png);
}


75%{
    background: url(pontos3.png);
}


100%{
    background: url(pontos4.png);
}
}
